{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>protfolio</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Dancing+Script:wght@600&family=Open+Sans+Condensed:ital,wght@1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Dancing+Script:wght@558;600&family=Open+Sans+Condensed:wght@300;700&family=Roboto+Condensed:wght@300&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'projects/style.css' %}">
</head>
<body>
    <!-- <div id="wrapper"> -->
    <header>
        <section class="headline">
        <h1>Opal Peltzman</h1>
        <a id="logo" href="{% url 'home' %}"></a>
        <a href="{% static 'projects/OpalPeltzmanCV.pdf' %}" download="OpalPeltzmanCV">
        <button id="cv" type="button" value="download" class="btn btn-outline-secondary" >My CV</button>
        </a >
        </section>  
        <nav class="headerNav">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'Myprojects' %}">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main class="mesg">
        <h1>Thank You For You'r Message</h1>
    </main>
</body>
</html>