{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Look</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'users/css/style.css'%}">
</head>

<body class="Register">
    <main>
        <img id="biglogo" src="{% static 'users/images/look.png'%}" alt="Look">

        <div class="form-group">
            <form method="POST">
                {% csrf_token %}

                <div>
                    <label>Username:</label>
                    {{ form.username }}
                </div><br>
                <div>
                    <label for="email">Email:</label>
                    {{ form.email }}
                </div><br>
                <div>
                    <label>Password:</label>
                    {{ form.password1 }}
                </div><br>
                <div>
                    <label>Repeat Password:</label>
                    {{ form.password2 }}
                </div><br>
                <div>
                    <label>user type:</label>
                    {{ form.userType }}
                </div><br>
                <button type="submit" class="btn btn-secondary" id="create">Sign up</button>
            </form>
        </div>
        <br>
        {% if form.errors %}
        <!-- Error messaging -->
        <div id="errors">
            <div class="inner">
                <p>There were some errors in the information you entered. Please correct the following:</p>
                {{ form.non_field_errors }}
                <ul>
                    {% for field in form %}
                    {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!-- /Error messaging -->
        {% endif %}
    </main>

    <!-- </div> -->
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{% static 'users/js/main.js'%}"></script>
</body>


</html>